prometheus-ecs-discovery
bin

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go dep dependencies
vendor/

# Saved image on CI
caches

# VSCode local config
.vscode

# Output folder for testing config generation
out/
